<h2>Sub-Reddits</h2>

{{#each post in model}}
  <div class="post">
    <h3>
      <a {{bind-attr href=post.data.url}}>
        {{post.data.title}}
      </a>
    </h3>
    <p>
      by: {{post.data.author}}
    </p>
  </div>
{{/each}}

{{outlet}}
